@import 'tailwindcss';

* {
  font-family: 'Poppins', sans-serif;
}
body {
  margin-top: 50px;
}

p {
  font-size: 22px;
  font-weight: 400;
}

.link-button {
  width: 460px;
  border: 1px solid rgb(236, 1, 140);
  color: rgb(236, 1, 140);
  padding: 14px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
